.write__container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 16px;
}

.content-box {
  padding: 24px 0px;
  & +& {
    border-top : 1px solid var(--gray2-color)
  }
}

.write__image-list {
  display: flex;
  & > div {
    flex-shrink: 0;
  }
}

.carousel {
  display: flex;
  & > * {
    flex-shrink: 0;
  }
  & > * + * {
    margin-left: 16px;
  }
}

.button-add-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray3-color);
  margin-right: 16px;
  background: var(--off-white-color);
  cursor: pointer;

  & > div + div{
    margin-top: 8px;
  }
}

.image-box {
  width: 76px;
  height: 76px;
  border-radius: 10px;
}


.image-added {
  position: relative;
  & > .wmi-close {
    position: absolute;
    top:- 15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background: var(--title-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  & > figure {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    & > img {
      width: 100%;
    }
  }  
}


.write__info {
  & > h2 {
    margin-bottom: 16px;
  }
  & > .category {
    font-size : var(--small-font-size);
    color: var(--gray2-color);
    margin-bottom: 12px;
  }
  & > .carousel > div {
    font-size: var(--small-font-size);
    border: 1px solid var(--gray3-color);
    border-radius: 999px;
    padding: 6px 16px;
    color: var(--gray1-color);
    font-weight: 400;
  }
}

.write__contents {
  flex-grow: 1;
  & > textarea {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
    display: none;
    }
    width: 100%;
    height: 154px;
    resize: none;
    border: none;
    margin-bottom: 30px;
  }
}

.write__footer {
  border-top: 1px solid var(--gary3-color);
}

#input-name {
  margin-bottom: 16px;
}

#input-image {
  position: absolute;
  visibility: none;
  pointer-events: none;
  width: 0;
}

.category-item {
  &>input[type="radio"]{
    position: absolute;
    visibility: none;
    pointer-events: none;
    width: 0;
  }
}