@import './preset.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');

:root {
  --primary-color: #2AC1BC;
  --primary-light-color: #A0E1E0;
  --primary-dark-color: #219A95;
  --red-color: #F45452;
  --title-color: #222222;
  --grey1-color: #888888;
  --gray2-color: #BBBBBB;
  --gray3-color: #D7D7D7;
  --white-color: #FFFFFF;
  --off-white-color: #F6F6F6;

  --large-font-size: 18px;
  --medium-font-size: 16px;
  --small-font-size: 14px;
  --x-small-font-size: 12px;
}

body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  width: 320px;
  height: 650px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

// Text
.text {
  font-style: normal;
  font-weight: normal;
  
  &.large {
    font-size: var(--large-font-size);
    line-height: 24px;
  }
  &.medium {
    font-size: var(--medium-font-size);
    line-height: 22px;    
  }
  &.small {
    font-size: var(--small-font-size);
    line-height: 20px;
  }
  &.x-small{
    font-size: var(--x-small-font-size);
    line-height: 16px;
  }
}

// Link  
.link {
  font-weight: 500;

  &.medium {
    font-size: var(--medium-font-size);
    line-height: 22px;
  }
  &.small {
    font-size: var(--small-font-size);
    line-height: 20px;
  }
  &.x-small {
    font-size: var(--x-small-font-size);
    line-height: 16px;
  }
}

// Button
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;

  &.small {
    height: 20px;
    font-size: var(--small-font-size);
    padding: 6px 16px;
  }

  &.medium {
    height: 36px;
    font-size: var(--small-font-size);
    padding: 8px 16px;
  }
  &.large {
    height: 42px;
    font-size: var(--medium-font-size);
    padding: 10px 16px;
  }
  &.full {
    width: 100%;
  }
  &.location {
    background : var(--white-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  &.location.active {
    background : var(--primary-color);
    color: var(--white-color);
    &:hover {
      background: var(--primary-dark-color);
    }
  }
  &:hover {
    background: var(--primary-dark-color);
  }
  &:focus {
    background: var(--primary-color);
    border: 2px solid var(--primary-light-color);
  }
  &:disabled {
    background: var(--primary-light-color);
  }
}


// Text input
.input {
  padding: 8px;
  height: 36px;
  border : 1px solid var(--gray3-color);
  border-radius: 8px;
  background: var(--white-color);
  font-size: var(--small-font-size);

  &.large{
    font-size: var(--medium-font-size);
    height: 40px;
    padding: 10px 16px 8px;
  }
  &.full{
   width: 100%; 
  }
  &:focus{
    border: 1px solid var(--primary-color)
  }
}

// Image box
/*
 * USAGE:
 * <figure class="img-box">
 *  <img src="uri/of/image" >
 * </figure>
*/
figure.img-box {
  background: var(--off-white-color);
  border: 1px solid var(--gray3-color);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  &.small {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
  &.medium {
    width: 76px;
    height: 76px;
    border-radius: 8px;
  }
  &.large {
    width: 106px;
    height: 106px;
    border-radius: 10px;
  }

  &.gradient {
    width: 320px;
    height: 320px;
    position: relative;
    border: none;
  }
  &.gradient::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.24) 0%,
      rgba(0, 0, 0, 0) 16.52%,
      rgba(0, 0, 0, 0) 87.36%,
      rgba(0, 0, 0, 0.24) 100%
    );
  }
}
