@import '../../../assets/woowa-market-icons.css';

#chat-detail__container {
  height: 650px;
 
}

#chat-contents__container {
  display: flex;
  flex-direction: column;
  height: 650px;
}

#chat-contents__product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray2-color);
  ;
  padding: 16px;
  & > figure {
    width: 40px;
    height: 40px;
    & > img {
      width: 100%;
    }
  }
  & > .product-text-info {
    flex: 1;
    margin-left: 10px;
  }
  & > .product-state {
    border: 1px solid var(--gray2-color);
    padding: 10px 16px;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

#chat-contents__chatroom {
  padding: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 15px;

  &::-webkit-scrollbar {
    display: none;
  }

  & > li + li {
    margin-top: 20px;
  }
  & > li {
    width: 100%;
    display:flex;

    &.receive > div {
      border: 1px solid var(--primary-color);
      border-radius: 0px 8px 8px 8px;
      padding: 8px;

    }

    &.send  {
      justify-content: flex-end;
      & > div {
      color : var(--white-color);
      background: var(--primary-color);
      border-radius: 8px 0px 8px 8px;
      padding: 8px;
      }
    }
  }
}

#chat-contents__input-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 8px 16px;
  background: var(--off-white-color);
  display: flex;
  align-items: center;

  & > input{
    width : 100%;
    height: 36px;
    padding: 8px;
    background: var(--white-color);
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--gray3-color);
  }

  & > .wmi-send {
    margin-left: 18px;
    font-size: 20px;
  }
}